/* fade-transform */

.fade-leave-active,
.fade-enter-active {
    transition: all 0.3s;
}

.fade-enter-from {
    opacity: 0;
    transform: translateX(-30px);
}

.fade-leave-to {
    opacity: 0;
    transform: translateX(30px);
}


/*breadcrumb*/

.breadcrumb-enter-active,
.breadcrumb-leave-active {
    transition: all 0.3s;
}

.breadcrumb-enter-from,
.breadcrumb-leave-active {
    opacity: 0;
    transform: translateX(20px);
}

.breadcrumb-move {
    transition: all 0.3s;
}

.breadcrumb-leave-active {
    position: absolute;
}

.bounce-enter-active {
    animation: bounce-in .5s ease-out both;
}

.bounce-leave-active {
    animation: bounce-in .5s reverse ease-in both;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}